{% extends 'website/main.html' %}
{% load static %}
{% block content %}

<div class="aboutpage-main innerpage-main">
    <div class="aboutpage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="heading">
                        <center>
                            <h1>About Cook and Care
                                <br />Indian Spices Suppliers</h1>
                        </center>
                        <ul class="down-links">
                            <li><span>S C R O L L &nbsp; D O W N</span><a href="javascript:;">&nbsp;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'images/about-bg.jpg' %}" alt="about" />
    </div>
    <div class="container innerpage-contents about-main">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <table class="about-data margintop" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td class="top-curve" colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="left-curve">&nbsp;</td>
                        <td class="middle-area">
                            <br />
                            <div class="about-gallery">
                                <h2>
                                    About Us
                                </h2>
                                <p>
                                    Cook and Care Foods striven towards meeting international market standards.
                                    Renowned
                                    as one of the principal spices manufacturers in India, Cook and Care Foods is
                                    credited with introducing a diverse of range of varieties into the market. By
                                    placing emphasis on the importance of understanding the true requirements of
                                    consumers, the leading Indian spices exporters have rightly earned the
                                    reputation as
                                    people’s first choice. Situated in south Gujarat region of India, the famous
                                    spices
                                    manufacture in India have contributed considerably to improving the quality of
                                    spices products.
                                    <br /> <br />

                                    Cook and Care Foods attributes its growing popularity to the professional
                                    commitment to guaranteeing world-class quality services to customers. Widely
                                    known as one of the most famous food products companies in India, Cook and Care
                                    Foods Masala takes immense pride in being a genuine embodiment of high quality
                                    spices manufacturers. Having catered authentic products to a large number of
                                    enterprises, Cook and Care Foods Masala is intent on expanding its products to a
                                    broader audience around the world.
                                </p>
                                <br /><br />
                                <h2>Vision & Mission</h2>
                                <p>
                                    Cook and Care Foods has a vision of becoming the leader in the hub of innovations
                                    and caters the best quality and purity with the drive of creativeness, out of the
                                    box thinking and doing things in latest, better and efficient way. Perfectness with
                                    premium quality is our prime motive and helps us to be on track to generate
                                    affection towards people through our spice products.
                                    <br /> <br />
                                    Striving to achieve fineness in all our attempts, we are proud to create prolonged
                                    value for our large community. Our key mission is to make the state of superiority
                                    in good worth with respect to quality services and products. Keeping in mind the
                                    necessities of our customers, our team of experts always give their best efforts in
                                    lab to manufacture the best quality and eminence.

                                </p>
                                <br /><br />
                                <h2>WHY US?</h2>
                                <p>
                                    Some of the reasons which make us counted among leading business entity are as
                                    follows:
                                    Quality and hygi enic food products
                                    <br /><br />
                                    ~ State-of-art infrastructure <br />
                                    ~ Expert professionals <br />
                                    ~ In-house facilities <br />
                                    ~ Transparent business policies <br />

                                </p>
                            </div>
                        </td>
                        <td class="right-curve">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="bottom-curve" colspan="3">&nbsp;<br /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}