{% extends 'website/main.html' %}
{% load static %}
{% block content %}

    <div class="masala-items">
        <div>
            <img class="itemObj item7" src="{% static 'falling/Spices_Manufacturer_in_India_1.png' %}"
                alt="Spices Manufacturer in India" />
            <img class="itemObj item4" src="{% static 'falling/Spices_Manufacturer_in_India_2.png' %}"
                alt="Spices Manufacturer in India" />
            <img class="itemObj item1" src="{% static 'falling/Spices_Manufacturer_in_India_3.png' %}"
                alt="Spices Manufacturer in India" />
            <img class="itemObj item2" src="{% static 'falling/Spices_Manufacturer_in_India_4.png' %}"
                alt="Spices Manufacturer in India" />
            <img class="itemObj item10" src="{% static 'falling/Spices_Manufacturer_in_India_5.png' %}"
                alt="Spices Manufacturer in India" />
            <img class="itemObj item5" src="{% static 'falling/Spices_Manufacturer_in_India_6.png' %}"
                alt="Spices Manufacturer in India" />
        </div>
    </div>
    <div class="masala-items rightSide">
        <div>
            <img class="itemObj item3" src="{% static 'falling/Spices_Manufacturer_in_India_7.png' %}"
                alt="Spices Manufacturer in India" />
            <img class="itemObj item9" src="{% static 'falling/Spices_Manufacturer_in_India_8.png' %}"
                alt="Spices Manufacturer in India" />
            <img class="itemObj item8" src="{% static 'falling/Spices_Manufacturer_in_India_9.png' %}"
                alt="Spices Manufacturer in India" />
            <img class="itemObj item11" src="{% static 'falling/Spices_Manufacturer_in_India_10.png' %}"
                alt="Spices Manufacturer in India" />
            <img class="itemObj item6" src="{% static 'falling/Spices_Manufacturer_in_India_11.png' %}"
                alt="Spices Manufacturer in India" />
        </div>
    </div>
    <div id="fullpage">

        <div class="section" id="section0">
            <div class="section-div">
                <div class="home-contents">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="satvam"><a href="index.php" title="cookandcarefoods"><img
                                            src="{% static 'images/satvam-masala.png' %}" alt="Masala Manufacturer in India"
                                            height="100" /></a>
                                </div>
                                <div class="slogan"><span>YOUR NEW KITCHEN PARTNER</span><br /><img
                                        src="{% static 'images/Spices_Manufacturer_in_India_strock.png' %}"
                                        alt="Spices Manufacturer in India" title="Spices Manufacturer in India" /></div>
                            </div>
                        </div>
                    </div>
                    <ul class="down-links">
                        <li data-menuanchor="secondPage"><span>S C R O L L &nbsp; D O W N</span><a
                                href="#secondPage">&nbsp;</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section" id="section1">
            <div class="section-div">
                <div class="aboutPatch" id="scrollAbout">&nbsp;</div>
                <div class="inner-page">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="about-home">
                                    <img src="{% static 'images/white-logo.png' %}" width="150" class="about-logo"
                                        alt="Masala Manufacturer in India" />
                                                             
                                    <p>
                                        Cook and Care Foods striven towards meeting international market standards.
                                        Renowned as one of the principal spices manufacturers in India, Cook and Care
                                        Foods is credited with introducing a diverse of range of varieties into the
                                        market. By placing emphasis on the importance of understanding the true
                                        requirements of consumers, the leading Indian spices exporters have rightly
                                        earned the reputation as people’s first choice. Situated in south Gujarat region
                                        of India, the famous spices manufacture in India have contributed considerably
                                        to improving the quality of spices products.
                                    </p>
                                    <a href="" class="more">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="section3">
            <div class="section-div">
                <div class="inner-page homepage_bowl">

                    <div class="container bow-main">
                        <h1>Spices and Instant Mix Products Manufacturer</h1>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="bowl">
                                    <a href="javascript:void(0);" rel="GroundSpices">
                                        <img src="{% static 'images/Ground_Spices_Manufacturer_Exporter_in_India.png' %}"
                                            alt="Ground Spices Manufacturer and Exporter in India" />
                                        <h2><span class="fweight">Nastural <br> Non-Oil Extracted</span></h2>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="bowl">
                                    <a href="javascript:void(0);" rel="PremiumSpices">
                                        <img src="{% static 'images/Premium_Ground_Spices_Manufacturer_Exporter_in_India.png' %}"
                                            alt="Premium Ground Spices Manufacturer and Exporter in India" />
                                        <h2><span class="fweight">Nastural <br> Non-Oil Extracted</span></h2>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="bowl">
                                    <a href="javascript:void(0);" rel="BlendedSpices">
                                        <img src="{% static 'images/Blended_Spices_Manufacturer_Exporter_in_India.png' %}"
                                            alt="Blended Spices Manufacturer and Exporter in India" />
                                        <h2><span class="fweight">Nastural <br> Non-Oil Extracted</span></h2>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="bowl">
                                    <a href="javascript:void(0);" rel="InstantMixs">
                                        <img src="{% static 'images/Instant_Food_Mixes_Manufacturer_Exporter_in_India.png' %}"
                                            alt="Instant Food Mixes Manufacturer and Exporter in India" />
                                        <h2><span class="fweight">Nastural <br> Non-Oil Extracted</span></h2>
                                    </a>
                                </div>
                            </div>

                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section4">
            <div class="section-div">
                <div class="inner-page"> &nbsp; </div>
            </div>
        </div>

        
    </div>
    <div class="smoke-main">
        <div class="smoke-sub">
            <div id="viewport">

            </div>
        </div>
        <div class="biriyaniDish"> &nbsp; </div>
    </div>
    
{% endblock content %}
